__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
.idea/


ml-models/dataset/

ml-models/*/data/*
!ml-models/*/data/.gitkeep

ml-models/dataset/Dataset/**
**/Images/**

*.zip
*.tar
*.tar.gz

uv.lock

*.env

ml-models/mood/notebooks/Pipeline/data/*
backend/app/ml/mood_model/data/*

backend/uploads/*
backend/backend/uploads/*

*.db